<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Les images</title>
</head>
<body>
<a name="haut"></a>
<table width="100%" >
  <tr>
    <th width="10%" rowspan="5" align="left" valign="top" scope="row">

</th>
    <td width="5%" rowspan="5" class="borduregauche"></td>
    <td height="21" class="bordure"></td>
    <td width="5%" rowspan="5" class="borduredroite"></td>
  </tr>
  <tr>
    <td height="30" class="borduretitre"><h1 align="center">Les images de  [var.id]</h1></td>
  </tr>
  <tr>
    <td height="21" class="bordure"></td>
  </tr>
  <tr>
    <td align="center" class="tableau">
[blk;block=begin][blk.val;htmlconv=no]<br /> [blk;block=end]
	</td>
  </tr>
  <tr>
    <td height="21" class="bordure"></td>
  </tr>
</table>
<br /><br />
</body>
</html>
